#day-label {
    font: 600 20px Arial, sans-serif;
    left: 1em;
    bottom: 1em;
    color: rgb(200, 200, 200);
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
}

#day-panel {
    position: absolute;
    left: 1em;
    bottom: 1em;
    padding: 1em;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
}

#day-panel div {
    width: 10em;
}

.marker {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffc500;
}

.mapmarker {
  width: 50px;
  height: 50px;
  background-color: #f00;
  border-radius: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

.popup {
  font-size: 16px;
  color: #ffc500;
}